body{
    text-align: center;
    height: 750px;
    width: 1000px;
    vertical-align: top;
    background-color: black;
}
img{
    height: 150px;
    width: 350px;
    display: inline-block;
}
p{
    display: inline-block;
    height: 150px;
    width: 900px;
    margin: -4px 0px 0px 0px;
}